name: Tests

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
         include:
         - ruby-version: '3.0'
           rails-version: '7.0'
         - ruby-version: '3.1'
           rails-version: '7.0'
         - ruby-version: '3.2'
           rails-version: '7.0'
         - ruby-version: '3.1'
           rails-version: '8.0'
         - ruby-version: '3.2'
           rails-version: '8.0'
         - ruby-version: '3.3'
           rails-version: '8.0'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: false
    - name: Install dependencies
      run: bundle install
      env:
        RAILS_VERSION: ${{ matrix.rails-version }}
    - name: Run tests
      run: bundle exec rspec
      env:
        RAILS_VERSION: ${{ matrix.rails-version }}
