name: Tests

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
         include:
         - ruby-version: 2.6
           rails-version: 5.2
         - ruby-version: 2.7
           rails-version: 5.2
         - ruby-version: 2.6
           rails-version: '6.0'
         - ruby-version: 2.7
           rails-version: '6.0'
         - ruby-version: 2.6
           rails-version: 6.1
         - ruby-version: 2.7
           rails-version: 6.1
         - ruby-version: '3.0'
           rails-version: 6.1
         - ruby-version: 3.1
           rails-version: 6.1
         - ruby-version: 2.7
           rails-version: '7.0'
         - ruby-version: '3.0'
           rails-version: '7.0'
         - ruby-version: '3.1'
           rails-version: '7.0'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: false
    - name: Install dependencies
      run: bundle install
      env:
        RAILS_VERSION: ${{ matrix.rails-version }}
    - name: Run tests
      run: bundle exec rspec
      env:
        RAILS_VERSION: ${{ matrix.rails-version }}
