name: Tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'README.md'
  push:
    branches:
      - master
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
         include:
         - ruby-version: 2.6.6
           bundler-version: default
           rails-version: 5.2
         - ruby-version: 2.7.2
           bundler-version: default
           rails-version: 5.2
         - ruby-version: 2.7.2
           bundler-version: default
           rails-version: 6.0.3.4
         - ruby-version: 2.7.2
           bundler-version: default
           rails-version: 6.1
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler: ${{ matrix.bundler-version }} 
        bundler-cache: false
    - name: Install dependencies
      run: bundle install
      env:
        RAILS_VERSION: ${{ matrix.rails-version }}
    - name: Run tests
      run: bundle exec rspec
      env:
        RAILS_VERSION: ${{ matrix.rails-version }}
